.fpViewStatus {
  box-shadow: 8px 5px 15px 5px rgba(0, 0, 0, 0.19);
  width: 1000px;
  height: 450px;
  background: rgba(255, 255, 255, 0.95);
  margin-left: 160px;
  border-radius: 20px;
  background-origin: padding-box;
}
