.equation_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 280px;
  align-self: center;
  width: auto;
  padding: 10px;
  background-color: rgba(220, 220, 220, 0.9);
  border-radius: 15px;
}
.equation_playground {
  display: flex;
  width: auto;
  height: auto;
  border-radius: 15px;
}

.textEmp {
  font-size: 20px;
  opacity: 0.9;
}

.calculators {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 15px;
  justify-content: space-between;
  background-color: white;
  width: 470px;
  height: 180px;
  padding: 10px;
}

.backImg {
  display: flex;
  font-size: 38px;
  font-weight: bold;
  color: #001422;
  vertical-align: middle;
  margin-top: -4px;
}

.letter {
  display: flex;
  font-size: 38px;
  font-weight: bold;
  color: #001422;
  vertical-align: middle;
  margin-top: -4px;
}

.letters_area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 15px;
  justify-content: flex-start;
  background-color: rgba(220, 220, 220, 0.9);
  /* background-color: white; */
  width: 140px;
  height: 300px;
  padding: 10px;
}
